body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    height: 2000px;
}


.caixa-principal{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: black;
}

nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

.portifolio {
    color: white;
    font-size: 35px;
    font-weight: 500px;
}

.portifolio span{
    color: rgb(138, 11, 138);

}

li{
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;

}

li:hover {
    color: rgb(138, 11, 138);
    transition: 0.5s;

}

.meu-nome{
    position: absolute;
    top: 50%;
    left: 7%;
    padding: 100px;
    margin-top: 60px;
    height: 500px;
}

h1 {
    color:rgb(138, 11, 138);
    font-size: 75px;
}

h1 span{
    color:rgb(138, 11, 138);
}

.meu-nome h3{
    color: white;
    font-size: 25px;
}

section {
    display: flex;
    align-items: center;
    padding: 60px, 15%;
    background-color: black;
}

section img {
    height: 300px;
    border-radius: 500%;
    border: 2px solid :rgb(138, 11, 138);
    margin-right: 30px;
}

section div h2{
    color: white;
    font-size: 75px;
}

section div p {
    color: #e4a9bb;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 60px;
}

section div button {
    color: white;
    background-color: #e4a9bb;
    height: 45px;
    width: 160px;
    font-size: 20px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
}

section div button:hover{
    background-color: black;
    border: 3px solid #e4a9bb;
    transition: 0.5s;
}

section .sumir {
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;

}

nav .sumir{
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
}

section .aparecer{
    opacity: 1;
    filter: blur(0px);
    transition: all 1s;
}

img#geradordesenha {
    width: 500px;
    border-radius: 0%;
}

section#Projetos h2{
    color:white;
    text-align: center;
    padding: %;
}

html{
    scroll-behavior: smooth;
}